*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: black;
}
.container{
	width: 1024px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	background: #3054FC;

}
h1{
	text-align: center;
	color: #FF8C14;
	font-size: 60px;
}
nav{
	display: flex;
	justify-content: space-evenly;
}
.nav_item{
	font-size: 24px;
	color: white;
	background: #FC1C79;
	padding: 10px 36px;
	border-radius: 15%;
	margin-left: 40px;
}
.img1{
	margin: 0 auto;
	border:20px solid #1CC4FC;
	position: relative;
	text-align: center;
	width: 1000px;
}
.img2{
	border: 15px solid #1CC4FC;
	position: relative;
	text-align: center;
  	display: inline-block;
	margin: 5px;
  	float: left;
  	width:300px;
  	height: 305px;
}
.img3{
	border: 15px solid #1CC4FC;
	position: relative;
	text-align: center;
	margin: 5px;
  	display: inline-block;
  	width:300px;
  	height: 305px;
}
.img4{
	border: 15px solid #1CC4FC;
	position: relative;
	text-align: center;
  	display: inline-block;
  	margin: 5px;
  	float: right;
  	 width:300px;
  	height: 305px;
}
.img5{
	margin: 0 auto;
	border: 20px solid #1CC4FC;
	position: relative;
	text-align: center;
	width: 600px;

}
.p1{
	color: #FF8C14;
	font-size: 20px;
}
h2{
	color: #FF8C14;
	font-weight: bold;
}
p{
	color: white;
	font-weight: bold;
	font-size: 30px;
}

.section_item1{
	float: left;
	display: inline-block;
}
.section_item2{
	margin: 0 auto;
	display: inline-block;
}
.section_item3{
	float: right;
	display: inline-block;
}
footer{
	background: grey;
	width: 1020px;
	height: 200px;
}